[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  base = "frontend"
  command = "npm run build"
  publish = "frontend/build"
[build.environment]
  NODE_VERSION = "20"
  # Render Backend URL - Production
  REACT_APP_BACKEND_URL = "https://alumunity-backendv3.onrender.com"
