name: Wake-up Bot

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  ping_server:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render backend
        run: |
          echo "Pinging backend..."
          curl -v https://alumunity-backendv3.onrender.com/
          echo "Ping finished"
